/* TableComponent.css */


nav {
  background-color: #007BFF;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 12px;
  margin-top: 20px;
  height: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #0056b3;
}




.btn{
  margin: -20px;
  margin-left: 45%;
}
.my-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 12px 24px;
  margin: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background: #1063ea;
  color: white;
  border: none;
  cursor: pointer;
}

.sql-query {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}


.query-error {
  margin-top: 20px;
  background-color: #efd5d7;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 20px;
}

.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #000000;
  width: 150px;
  height: 150px;
  animation: spinner 2s linear infinite;
  margin-top: 45px;

}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loader img {
  width: 100px; /* Adjust the size of the spinner image */
  height: 100px;
}